.top-header{
    position: relative;
    padding: 350px 0px;

}
.header::before{
    content: "";
    background-color: rgba(255, 255, 255, 0.295);
    background-image: url(images/hero_bg.jpg.webp);
    background-size: cover;
    background-position-x: 50%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    opacity: 0.5;
    z-index: -1;
}
.header{
    padding: 100px 0px;
}